
html,
body,
div,
span {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("http://shurl.esy.es/y") no-repeat fixed center;
  background-size: cover;
}

.fa-2x {
  font-size: 1.5em;
}

.app {
  position: relative;
  overflow: hidden;
  top: 19px;
  height: calc(100% - 38px);
  margin: auto;
  padding: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.app-one {
  background-color: #f7f7f7;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}


.side {
  padding: 0;
  margin: 0;
  height: 100%;
}
.side-one {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  display: block;
  top: 0;
  margin-top: 10px;
}

.side-two {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
  top: -100%;
  left: -100%;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;

}
.message {
  padding: 0 !important;
  margin: 0 !important;
  /*background: url("w.jpg") no-repeat fixed center;*/
  background-size: cover;
  overflow-y: auto;
  /*border: 1px solid #f7f7f7;*/
  /*height: calc(100% - 120px);*/
  height: 90px;
}
.chat{
  width: 100%;
}

.conversation {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  /*width: 100%;*/
  border-left: 1px solid rgba(0, 0, 0, .08);
      position: relative;
    height: auto;
        background: white;
  /*overflow-y: auto;*/
}

#searchText{
  display: inline-block;
 width: 79%;
    padding-bottom: 0px;
    padding-top: 0.8rem;
    border: 1px solid rgb(3, 169, 244);;
}
i.fa.fa-2x:hover, i.fa.fa-2x:active{
  color:black;
}
.side-one{
      overflow: auto;
}
.conversation{
      /*overflow: auto;*/
          /*max-height: 600px;*/
    /*overflow-y: scroll;*/
}
.sort{
  margin:4px 10px;
      height: 30px;
}/*
.conversation{
  position: relative;
  width: 100%;
  height: 100%;
}*/

.wrapper{
      position: absolute;
    width: 100%;
    height: 68%;
    top: 40px;
    bottom: 70px;
    overflow-y: auto;
}
.conversation .heading{
       position: absolute;
    border-bottom: 2px solid rgb(3, 169, 244);
    text-align: center;
    color: rgb(3, 169, 244);
    display: inline;
    height: 41px;
    line-height: 2;
    font-weight: bold;
}
.side .row.heading{
  height: 43px;
}


/*.form-horizontal{
      position: absolute;
    width: 100%;
    bottom: 3px;
}*/